<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ExpertProductMapper">

    <!-- 分页获取项目成果信息 -->
    <select id="selectExpertProductPage" resultType="java.util.LinkedHashMap">
        select
        ep.id,
        ep.expert_code,
        ep.product_name,
        ep.research,
        ep.technology,
        ep.content,
        ep.images,
        ep.create_date,
        ei.name as expertName,
        ei.images AS avatar
        from
        expert_product ep
        left join expert_info ei on
        (ei.code = ep.expert_code)
        where
        1 = 1
        <if test="expertProduct.expertName != null and expertProduct.expertName != ''">
            AND ei.name LIKE CONCAT('%',#{expertProduct.expertName},'%')
        </if>
        <if test="expertProduct.productName != null and expertProduct.productName != ''">
            AND ep.product_name LIKE CONCAT('%',#{expertProduct.productName},'%')
        </if>
        order by
        ep.create_date desc
    </select>
</mapper>
