<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ExpertRecommendMapper">

    <!-- 分页获取专家推荐信息 -->
    <select id="selectExpertRecommendPage" resultType="java.util.LinkedHashMap">
        select
        er.id,
        er.name,
        er.nationality,
        er.images,
        er.sex,
        er.political_status,
        er.native_place,
        er.employer,
        er.`position`,
        er.address,
        er.phone,
        er.level_one,
        er.level_two,
        er.birth_date,
        er.job_title,
        er.special_appellation,
        er.mail,
        er.fixed_telephone,
        er.profile,
        er.create_date,
        er.recommend_name,
        er.status
        from
        expert_recommend er
        where
        1 = 1
        <if test="recommend.expertName != null and recommend.expertName != ''">
            AND er.name LIKE CONCAT('%',#{recommend.expertName},'%')
        </if>
        <if test="recommend.position != null and recommend.position != ''">
            AND er.position LIKE CONCAT('%',#{recommend.position},'%')
        </if>
        order by
        er.create_date desc
    </select>
</mapper>
